# Remote Store Configuration
# HP_AppStore connection settings
REMOTE_STORE_API_KEY=CHANGE_ME
REMOTE_STORE_BASE_URL=CHANGE_ME
REMOTE_STORE_ENABLED=CHANGE_ME

# Other Configuration
API_HOST=CHANGE_ME
API_KEY=CHANGE_ME
CIF_CONFIDENCE=CHANGE_ME
CIF_ENABLED=CHANGE_ME
CIF_GROUP=CHANGE_ME
CIF_HOST=CHANGE_ME
CIF_PROVIDER=CHANGE_ME
CIF_TAGS=CHANGE_ME
CIF_TOKEN=CHANGE_ME
CLEANUP_AFTER_HOURS=CHANGE_ME
CLEANUP_OLD_IMAGES=CHANGE_ME
DEFAULT_ROWS_PER_PAGE=CHANGE_ME
DOCKER_PASSWORD=CHANGE_ME
DOCKER_REPOSITORY=CHANGE_ME
DOCKER_USERNAME=CHANGE_ME
FILE_ENABLED=CHANGE_ME
FLUENTBIT_APP=CHANGE_ME
FLUENTBIT_HOST=CHANGE_ME
FLUENTBIT_HOSTNAME=CHANGE_ME
FLUENTBIT_PORT=CHANGE_ME
FLUENTD_APP=CHANGE_ME
FLUENTD_HOST=CHANGE_ME
FLUENTD_KEY=CHANGE_ME
FLUENTD_LOCAL_PORT=CHANGE_ME
FLUENTD_PORT=CHANGE_ME
FLUENTD_REMOTE_HOST=CHANGE_ME
HONEYPOT_HEALTHCHECK_INTERVAL=CHANGE_ME
HONEYPOT_HEALTHCHECK_TIMEOUT=CHANGE_ME
IDS_RULES_AUTO_UPDATE_ENABLED=CHANGE_ME
IDS_RULES_AUTO_UPDATE_INTERVAL=CHANGE_ME
IDS_RULES_CACHE_PATH=CHANGE_ME
IDS_RULES_FEED_DATE_RANGE=CHANGE_ME
INSTITUTION_NAME=CHANGE_ME
PASSPHRASE=CHANGE_ME
SALT=CHANGE_ME
STINGAR_SERVICE_URL=CHANGE_ME
SYSLOG_ENABLED=CHANGE_ME
SYSLOG_HOST=CHANGE_ME
SYSLOG_HOSTNAME=CHANGE_ME
SYSLOG_PORT=CHANGE_ME
SYSLOG_PROTOCOL=CHANGE_ME
SYSLOG_SEVERITY=CHANGE_ME
TAGS=CHANGE_ME
THEME_LIGHT_BASE_COLOR=CHANGE_ME
UI_HOSTNAME=CHANGE_ME
UPDATE_CHECK_INTERVAL=CHANGE_ME
UPDATE_MODE=CHANGE_ME
UPDATE_SERVICE_ENABLED=CHANGE_ME
UPDATE_WINDOW_END=CHANGE_ME
UPDATE_WINDOW_START=CHANGE_ME
USER_DOC_URL=CHANGE_ME
